POSTGRES_DB=collector_v3
POSTGRES_USER=collector
POSTGRES_PASSWORD=collector_pw

API_HOST_BIND=127.0.0.1
API_HOST_PORT=3000
WEB_HOST_BIND=127.0.0.1
WEB_HOST_PORT=7100

SESSION_SECRET=change_me_to_a_long_random_string_min_32_chars
DEV_ADMIN_USER=admin
DEV_ADMIN_PASS=admin

QBO_CLIENT_ID=replace_me
QBO_CLIENT_SECRET=replace_me
QBO_REDIRECT_URI=http://127.0.0.1:3000/qbo/connect/callback
QBO_ENV=sandbox
QBO_USE_MOCK=1

CF_TUNNEL_TOKEN=
